@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.main {
  color: white;
}

label {
  font-size: 0.7rem;
}

input.form-control,
input.form-control:focus {
  background: #f0f0ff;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.6rem;
}
